.catalog-button {
  padding: 12px 80px 10px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  color: rgba($color: #161c35, $alpha: 1.0);
  background-color: rgba($color: #ffd74b, $alpha: 1.0);
}
