.catalog-companion {
  width: 270px;
  min-height: 415px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
}

.catalog-companion__image {
  border-radius: 50%;
}

.catalog-companion__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-blue-2);
}

.catalog-companion__likes {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-blue);
}

.catalog-companion__tags,
.catalog-companion__wish,
.catalog-companion__transport-title,
.catalog-companion__level-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-grey);
}

.catalog-companion__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.catalog-companion__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-blue-2);
  text-transform: uppercase;
}

.catalog-companion__level-count {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-blue-2);
}

@media (--tablet-width) {
  .catalog-companion__image {
    width: 190px;
    border-radius: 20px;
  }

  .catalog-companion {
    width: 668px;
    min-height: 335px;
    margin-bottom: 40px;
    border-radius: 20px;
  }

  .catalog-companion__name {
    font-size: 30px;
    line-height: 30px;
  }

  .catalog-companion__likes {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-companion__tags {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-companion__transport-title,
  .catalog-companion__level-title {
    display: none;
  }
}

@media (--desktop-width) {
  .catalog-companion__image {
    width: 285px;
    border-radius: 20px 0 0 20px;
  }

  .catalog-companion__wish {
    display: none;
  }
}
