.companions {
  min-height: 1389px;
  background-color: var(--dark-blue);
  background-image:
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 85% 55px, -6px 350px;
  background-size: 143px 143px, 71px 71px;
  border-radius: 0 0 29px 29px;
}

.companions__wrapper {
  position: relative;
}

.companions__title {
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 70px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--orange);
}

.companions__description,
.companions__slogan {
  margin-top: 0;
  color: white;
}

.companions__description {
  width: 220px;
  margin-bottom: 30px;
}

.companions__slogan {
  margin-bottom: 60px;
  font-weight: 600;
}

.companions__companion {
  margin-bottom: 10px;
}

.companions__link {
  display: block;
}

@media (--tablet-width) {
  .companions {
    background-image:
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 40px 360px, 85% 80px;
    background-size: 143px 143px, 285px 285px;
  }

  .companions__title {
    margin-bottom: 60px;
    font-size: 45px;
    line-height: 45px;
  }

  .companions__description {
    width: 435px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;
  }

  .companions__slogan {
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 25px;
  }

  .companions__companion-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

@media (--desktop-width) {
  .companions {
    min-height: 750px;
    background-image:
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 550px 130px, 190px 385px;
    background-size: 143px 143px, 285px 285px;
  }

  .companions__title {
    position: absolute;
    top: 70px;
    left: 130px;
  }

  .companions__description {
    position: absolute;
    top: 240px;
    left: 130px;
    width: 435px;
  }

  .companions__slogan {
    position: absolute;
    top: 400px;
    left: 130px;
  }

  .companions__link {
    position: absolute;
    bottom: 10px;
    left: 130px;
    display: block;
  }

  .companions__companion-wrapper {
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 132px;
  }
}
