.country-route {
  min-width: 270px;
  min-height: 190px;
}

.country-route__image {
  border-radius: 10px 10px 0 0;
}

.country-route__info {
  border-radius: 10px;
  background-color: white;
}

.country-route__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: rgba($color: #161c35, $alpha: 1.0);
}

.country-route__slogan {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgba($color: #444444, $alpha: 0.3);
}

.country-route__people-count {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: rgba($color: #444444, $alpha: 0.3);
}
