.intro {
  position: relative;
  background-color: var(--darker-blue);
  background-image:
    linear-gradient(var(--darker-blue), var(--darker-blue)),
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 450px, 78px 213px, 0 0;
  background-size: 320px 285px, 192px 255px, auto 569px;
}

.intro__wrapper {
  width: 270px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.intro__motto {
  width: 270px;
  margin: 0 auto 252px auto;
  padding-top: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: white;
}

@media (--tablet-width) {
  .intro {
    position: relative;
    background-color: var(--dark-blue);
    background-image:
      url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 290px 290px, -350px 270px;
    background-size: 372px 451px, auto 611px;
  }

  .intro__wrapper {
    width: 694px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .intro__motto {
    width: 430px;
    margin: 0 auto 252px auto;
    padding-top: 40px;
    font-size: 60px;
    line-height: 70px;
  }
}

@media (--desktop-width) {
  .intro {
    position: relative;
    background-color: var(--darker-blue);
    background-image:
      url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 590px 160px, -200px 150px;
    background-size: 431px 640px, auto 750px;
  }

  .intro__wrapper {
    width: 1320px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .intro__motto {
    width: 430px;
    margin: 0;
    padding-top: 200px;
    text-align: left;
  }
}
