.main-nav {
  min-width: 270px;
}

.main-nav__dropdown {
  min-height: 500px;
  background-color: white;
}

.main-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav__toggle {
  width: 20px;
  height: 20px;
}

@media (--tablet-width) {
  .main-nav__dropdown {
    min-width: 500px;
    min-height: 800px;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 660px;
    padding-left: 60px;
    text-align: left;
  }
}

@media (--desktop-width) {

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 520px;
    padding-left: 0;
  }

  .main-nav__dropdown {
    display: flex;
    width: 520px;
    min-height: 90px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__social {
    display: none;
  }
}
