.page-main-form {
  background-color: rgba($color: #edeff6, $alpha: 1.0);
}

.page-main-form__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: white;
}
