.page-header {
  padding-top: 20px;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.page-header__logo {
  width: 100px;
}

@media (--tablet-width) {
  .page-header {
    padding-top: 40px;
  }

  .page-header__logo {
    width: 164px;
  }
  .page-header__logo-image {
    display: inline-block;
    width: 200px;
  }
}

@media (--desktop-width) {
  .page-header__wrapper {
    flex-direction: row;
  }

  .page-header__logo {
    width: 200px;
  }

  .page-header {
    padding-top: 20px;
  }
}
