.page-footer {
  min-height: 239px;
  padding-top: 35px;
  background-color: white;
  border-radius: 29px 29px 0 0;
}

.page-footer__wrapper {
  width: 270px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.page-footer__logo-image-m {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.page-footer__logo-image-t,
.page-footer__logo-image-d {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.page-footer__copyright-text {
  width: 110px;
}

.page-footer__copyright-icon {
  width: 40px;
}

@media (--tablet-width) {
  .page-footer__logo-image-m {
    display: none;
  }

  .page-footer__logo-image-t {
    display: block;
    width: 164px;
    height: 42px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 694px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-footer__social {
    width: 200px;
    padding-left: 60px;
  }

  .page-footer__copyright {
    width: 170px;
    margin-top: 0;
  }

  .page-footer__copyright-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (--desktop-width) {
  .page-footer {
    min-height: 154px;
  }

  .page-footer__logo-image-t {
    display: none;
  }

  .page-footer__logo-image-d {
    display: block;
    width: 198px;
    height: 52px;
  }

  .page-footer__social {
    padding-left: 0;
  }

  .page-footer__wrapper {
    width: 1320px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
