.pagination {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.pagination__item--t-d {
  display: none;
}

.pagination__link {
  display: block;
  width: 134px;
  height: 50px;
  margin-bottom: 46px;
  background-color: white;
}

.pagination__link--previous {
  border-radius: 20px 0 0 20px;
}

.pagination__link--next {
  border-radius: 0 20px 20px 0;
}

@media (--tablet-width) {
  .pagination {
    display: flex;
    width: 668px;
    height: 70px;
    margin-bottom: 46px;
    background-color: white;
    border-radius: 20px;
  }

  .pagination__item {
    width: 10px;
  }

  .pagination__link {
    width: 10px;
    height: none;
    margin-bottom: 0;
    background-color: none;
  }

  .pagination__item--t-d {
    display: block;
  }
}
