.rates {
  min-height: 481px;
  background-color: var(--light-grey);
  border-radius: 0 0 29px 29px;
}

.rates__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--orange);
}

.rates__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.rates__item {
  color: var(--dark-grey);
}

.rates__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-blue);
}
