.routes {
  min-height: 1050px;
  background-color: var(--light-grey);
  border-radius: 0 0 29px 29px;
}

.routes__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--orange);
}

.routes__description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey);
}
