.routes {
  min-height: 1050px;
  border-radius: 0 0 29px 29px;
  background-color: #edeff6;
}

.routes__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: rgba($color: #ff8d30, $alpha: 1.0);
}

.routes__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: rgba($color: #444444, $alpha: 1.0);
}
