.show-all-button {
  padding: 24px 142px 24px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--dark-blue-2);
  background-color: var(--yellow-btn);
  border-radius: 9px;
}
