.user-guide__list {
  display: block;
  width: 270px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.user-guide__item--step-1,
.user-guide__item--step-2,
.user-guide__item--step-3 {
  width: 270px;
  min-height: 160px;
  border-radius: 10px;
}

.user-guide__item--step-1 {
  background-color: var(--orange);
}

.user-guide__item--step-2 {
  margin-top: -90px;
  background-color: var(--off-orange);
}

.user-guide__item--step-3 {
  margin-top: -90px;
  background-color: var(--off-yellow);
}

.user-guide__item--step-4 {
  width: 270px;
  min-height: 80px;
  margin-top: -80px;
  background-color: var(--yellow-btn);
  border-radius: 10px;
}

.user-guide__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

@media (--tablet-width) {
  .user-guide {
    margin-top: 278px;
  }

  .user-guide__list {
    display: flex;
    flex-wrap: wrap;
    width: 694px;
    min-height: 280px;
    margin: 0 auto;
  }

  .user-guide__item--step-1,
  .user-guide__item--step-2,
  .user-guide__item--step-3,
  .user-guide__item--step-4 {
    min-width: 347px;
    min-height: 140px;
    margin-top: 0;
  }

  .user-guide__item--step-1 {
    border-radius: 10px 0 0 0;
  }

  .user-guide__item--step-2 {
    border-radius: 0 10px 0 0;
  }

  .user-guide__item--step-3 {
    border-radius: 0 0 0 10px;
  }

  .user-guide__item--step-4 {
    border-radius: 0 0 10px 0;
  }

  .user-guide__item--step-2,
  .user-guide__item--step-4 {
    transform: translateX(-10px);
  }
}

@media (--desktop-width) {
  .user-guide {
    margin-top: 278px;
  }

  .user-guide__list {
    display: flex;
    width: 1440px;
    min-height: 108px;
    margin-top: -50px;
    padding-bottom: 120px;
  }

  .user-guide__item--step-1,
  .user-guide__item--step-2,
  .user-guide__item--step-3,
  .user-guide__item--step-4 {
    min-width: 300px;
    min-height: 108px;
    margin-top: 0;
    border-radius: 20px;
  }

  .user-guide__item--step-1 {
    min-width: 345px;
  }

  .user-guide__item--step-2 {
    min-width: 375px;
    transform: translateX(-30px);
  }

  .user-guide__item--step-3 {
    min-width: 315px;
    transform: translateX(-60px);
  }

  .user-guide__item--step-4 {
    transform: translateX(-90px);
  }
}
