.user-list {
  text-transform: uppercase;
}

.user-list__login {
    padding: 13px 70px 11px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: var(--dark-blue);
    background-color: var(--yellow-btn);
    border-radius: 22px;
  }
.user-list__login--main {
  padding: 13px 40px 11px;
}