.user-guide__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  color: var(--darker-blue);
}

.user-guide__item--step-1,
.user-guide__item--step-2,
.user-guide__item--step-3 {
  min-width: 270px;
  min-height: 160px;
  border-radius: 10px;
}

.user-guide__item--step-1 {
  background-color: var(--orange);
}

.user-guide__item--step-2 {
  margin-top: -100px;
  background-color: var(--off-orange);
}

.user-guide__item--step-3 {
  margin-top: -100px;
  background-color: var(--off-yellow);
}

.user-guide__item--step-4 {
  min-width: 270px;
  min-height: 80px;
  margin-top: -100px;
  background-color: var(--yellow-btn);
  border-radius: 10px;
}

.user-guide__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
