:root {
  --dark-blue: #192144;
  --dark-blue-2: #1d2e5b;
  --darker-blue: #161c35;
  --darker-blue-2: #141b3b;
  --orange: #ff8d30;
  --yellow-btn: #ffd74b;
  --off-orange: #ffa530;
  --off-yellow: #ffbd30;
  --dark-grey: #444444;
  --light-grey: #edeff6;
  --light-grey-2: #f3f4f8;
  --turquoise: #74b9be;
}

@custom-media --tablet-width (min-width: 768px);
@custom-media --desktop-width (min-width: 1440px);
